.bottleneck-detail {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  background-color: var(--card-background);
  border-radius: $border-radius-lg;
  padding: $spacing-lg;
  transition: background-color $transition,
  border-color $transition,
  color $transition;

  &__header {
    display:flex;
    flex-direction: column;
    align-items: start;
    gap: $spacing-md;
    padding-bottom: $spacing-md;
    border-bottom: 1px solid var(--border-dull);
    transition: border-color $transition;
  }

  &__discipline {
    display: inline-block;
    background-color: var(--primary-color);
    color: #e0e0e0;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;
    font-size: $font-size-sm;
    transition: background-color $transition;
  }

  &__title {
    font-size: $spacing-lg;
    margin-bottom: $spacing-sm;
    transition: color $transition;
  }

  &__content {
    max-width: 90ch;
  }

  &__solutions {
    margin-block-start: $spacing-md;
    h3 {
      padding-bottom: $spacing-lg;
      font-weight: normal;
      color: var(--light-text);
    }
  }
  &__solutions-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-lg;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-xxl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}

.back-link {
  display: inline-block;
  margin-bottom: $spacing-md;
  color: var(--lighter-text);
  text-decoration: none;
  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
}