.bottleneck-detail {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;
  background-color: var(--card-background);
  border: 1px solid var(--border-dull);
  border-radius: $border-radius-lg;
  padding: $spacing-xl;
  transition: background-color $transition,
  border $transition;

  &__header {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-md $spacing-xxl;
    flex-wrap: wrap;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    padding: $spacing-xl;
    margin: calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));
    border-bottom: 1px solid var(--border-dull);
    transition: background-color $transition,
    border-color $transition;
  }

  &__discipline {
    @extend .discipline-tag;
    display: block;
    margin-block-start: 0.42em;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;
    font-size: $font-size-sm;
    letter-spacing: 0.04em;
  }

  &__title {
  }

  &__content {
    max-width: 80ch;
    margin-top: calc($spacing-md * (-1));
    font-size: $font-size-md;
    color: var(--text-light);
    line-height: 1.5;
  }

  &__solutions {
    padding: $spacing-xxl $spacing-xl $spacing-xl;
    margin: 0 calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) calc($spacing-xl * (-1));
    background-color: var(--background-color);
    border-top: 1px solid var(--border-dull);
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
    transition: border $transition,
    background-color $transition;
    h3 {
      font-size: $font-size-md;
      letter-spacing: 0.01em;;
      font-weight: normal;
      color: var(--text-light);
    }
  }
  &__solutions-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;
    margin-block-start: $spacing-lg;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $breakpoint-xxl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}

.back-link {
  display: inline-block;
  margin-bottom: $spacing-md;
  color: var(--text-lighter);
  text-decoration: none;
  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
}