.bottleneck-detail, .field-detail {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;
  background-color: var(--card-background);
  border: 1px solid var(--border-dull);
  border-radius: $border-radius-lg;
  padding: $spacing-xl;
  transition: background-color $transition,
    border $transition;
  @media (max-width: $breakpoint-sm) {
    padding-inline: $spacing-md;
    gap: $spacing-xl;
  }
  .capability-card__footer {
    margin-inline: 0;
    margin-block-end: $spacing-md;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-md $spacing-xxl;
    flex-wrap: wrap;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    padding: $spacing-xl;
    margin: calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));
    border-bottom: 1px solid var(--border-dull);
    transition: background-color $transition,
      border-color $transition;
      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-md;
      }
  }
  &__field {

  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: $spacing-xs $spacing-lg;
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-sm;
    margin-block-start: $spacing-sm;
  }

  &__tag {
    display: inline-block;
    background-color: var(--border-dull);
    color: var(--text-light);
    padding: $spacing-sm;
    border-radius: $border-radius-md;
    font-size: $font-size-sm;
  }

  &__index {
    display: flex;
    align-items: center;
    background-color: var(--background-color-dark);
    border-radius: $border-radius-md;
    padding: $spacing-sm;
    font-size: $font-size-sm;
    font-weight: 500;
    color: var(--text-light);
  }

  &__content {
    max-width: 110ch;
    font-size: $font-size-md;
    color: var(--text-light);
    line-height: 1.5;
    @media (max-width: $breakpoint-sm) {
      font-size: 1rem;
    }
  }

  &__capabilities, &__bottlenecks {
    padding: $spacing-xxl $spacing-md $spacing-md;
    margin: 0 calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) calc($spacing-xl * (-1));
    background-color: var(--background-color);
    border-top: 1px solid var(--border-dull);
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
    transition: border $transition,
      background-color $transition;
      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-xs;
        padding-block-end: 0;
      }
      h2 {
        @media (max-width: $breakpoint-sm) {
          margin-inline-start: $spacing-md;
        }
      }
  }

  &__capabilities-grid {
    column-count: 1;
    column-gap: $spacing-md;
    margin-block-start: $spacing-lg;
    align-items: start;

      @media (min-width: $breakpoint-lg) {
        column-count: 2;
      }
  
      @media (min-width: $breakpoint-xxl) {
        column-count: 3;
      }
    
      .capability-card {
        margin-block-end: $spacing-md;
        &:last-child {
          @media (max-width: $breakpoint-sm) {
            margin-block-end: $spacing-xs;
          }
        }
      }
  }


}

.back-link {
  display: inline-block;
  margin-bottom: $spacing-md;
  color: var(--text-lighter);
  text-decoration: none;

  &:hover {
    color: var(--primary-color);
  }
}

.field-detail {
  &__header {
    h1 {
      padding-block-start: $spacing-sm;
    }
  }
  &__content {
    p + p, blockquote {
      margin-block-start: $spacing-lg;
    }
    blockquote {
      padding-inline-start: $spacing-lg;
      border-inline-start: $spacing-xs solid var(--secondary-color);
      margin-inline-start: $spacing-xs;
      font-size: 85%;
    }
    em {
      font-weight: bold;
    }
  }
}