.capability-card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: $spacing-lg;
  background-color: var(--card-background);
  border-radius: $border-radius-lg;
  padding: $spacing-xl $spacing-xl $spacing-lg;
  border: 1px solid var(--border-dull);
  min-width: 0;
  content-visibility: auto;
  contain-intrinsic-size: 24em;
  contain: layout style paint;
  transition: background-color $transition, border-color $transition, box-shadow $transition;
  &__resource-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
  }
  &__resource-type {
    font-size: $font-size-xs;
    color: var(--text-lighter);
    background-color: var(--background-color);
    padding: calc($spacing-xs * 0.5) $spacing-xs;
    border-radius: $border-radius-sm;
    align-self: flex-start;
  }
  &__resource-link {
    display: flex;
    flex-direction: column-reverse;
    gap: $spacing-xs;
    background-color: var(--background-color-dark);
    border-radius: $border-radius-md;
    font-size: $font-size-sm;
    padding: $spacing-sm;
    a {
      text-decoration: none;
      color: var(--text-color);
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__clickable, .clickable {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__header {
    background-color: var(--background-color);
    border-radius: $border-radius-lg $border-radius-md 0 0;
    padding: $spacing-xl;
    margin: calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));
    border-bottom: 1px solid var(--border-dull);
    transition: border-color $transition,
      background-color $transition;
      a {
        position: relative;
        z-index: 2;
      }
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    margin-top: $spacing-sm;
  }

  &__field {
    display: inline-block;
    color: var(--text-light);
    padding: $spacing-xs $spacing-sm;
    border: 1px solid transparent;
    border-radius: $border-radius-md;
    font-size: $font-size-sm;
    letter-spacing: 0.04em;
    transition: background-color $transition,
      color $transition,
      border-color $transition;
  }

  &__title {
    font-size: $font-size-lg;
    margin: 0;

    a {
      position: relative;
      z-index: 2;
      color: inherit;
      transition: color $transition;
    }
  }

  &__content {
    color: var(--text-light);
    line-height: 1.5;
    line-clamp: 5;
    display: -webkit-box;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    max-width: 90ch;

    div {
      clip-path: inset(0);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    background-color: var(--background-color-dark);
    color: var(--text-lighter);
    padding: calc($spacing-xs * 0.5) $spacing-xs;
    border-radius: $border-radius-sm;
    font-size: $font-size-xs;
    white-space: nowrap;

  }

  &__footer {
    margin-block-start: $spacing-sm;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: $spacing-xl;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 2;
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bottlenecks-count {
    font-size: $font-size-sm;
    color: var(--text-lighter);
    text-align: center;
    background-color: var(--background-color-dark);
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;
    transition: background-color $transition;
    white-space: nowrap;
  }

  &:hover {
    box-shadow: 0 0 $spacing-md 0 var(--shadow-color);
    color: var(--primary-color);
    .capability-card__header a {
      color: var(--primary-color);
    }
  }

}