.capability-card__outer-wrap {
  border-radius: $border-radius-lg;
  align-self: flex-start;
  position: relative;
  min-width: 0;
  height: 100%;


  &:before {
    content: "";
    opacity: 0.75;
    position: absolute;
    inset: 0;
    border-radius: $border-radius-lg;
    border: 8px solid var(--card-background);
    background: repeating-linear-gradient(-45deg, var(--card-background), var(--card-background) 4px, var(--background-color) 4px, var(--background-color) 25px);
    z-index: 0;
  }
}
.capability-card:has(.capability-card__bottlenecks-expanded) {
  padding-block-end: 0;

  .capability-card__footer {
    margin-block-end: calc($spacing-lg * -1);
  }
}

.capability-card:hover:not(:has(.capability-card__footer:hover, .capability-card__bottlenecks-expanded:hover)) {
  color: var(--primary-color);
}

.capability-card {
  padding: $spacing-xl $spacing-xl 0 $spacing-xl;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
  gap: $spacing-lg;
  border: 1px solid var(--border-dull);
  height: 100%;
  border-radius: $border-radius-lg;
  background-color: var(--card-background);
  min-width: 0;
  transition: background-color $transition, border-color $transition, box-shadow $transition;
  @media (max-width: $breakpoint-sm) {
    padding-inline: $spacing-md;
  }

  &__resources {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: $spacing-lg;
    flex-direction: column;
  }
  &__resource-group {
    margin:0 calc($spacing-xl * (-1)) calc($spacing-lg * (-1));
    &:last-child .capability-card__resource-item:last-child .capability-card__resource-link {
      padding-block-end: $spacing-lg;
    }
    &:first-child .capability-card__resource-item:first-child .capability-card__resource-link {
      padding-block-start: $spacing-lg;
    }
  }
 
  &__resource-item {
    list-style-type: none;
  }
  &__resource-type {
    font-size: $font-size-xs;
    padding: calc($spacing-xs * 0.5) $spacing-xs;
    align-self: flex-start;
  }
  &__resource-link {
    display: flex;
    flex-direction: column-reverse;
    gap: $spacing-sm;
    background-color: var(--background-color-dark);
    border-top: 1px solid var(--border-dull);
    font-size: $font-size-sm;
    padding: $spacing-md $spacing-xl;
    transition: background-color $transition,
      border-color $transition;
    a {
      text-decoration: none;
      color: var(--text-color);
      &:hover {
        color: var(--primary-color);
      }
    }
    @media (max-width: $breakpoint-sm) {
      margin-inline: $spacing-md;
      padding-inline: $spacing-md;
    }
  }
  &__clickable, .clickable {
    position: absolute;
    inset: 0;
    z-index: 1;

  }

  &__header {
    background-color: var(--background-color);
    border-radius: $border-radius-lg $border-radius-md 0 0;
    padding: $spacing-xl;
    margin: calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));
    transition: border-color $transition,
      background-color $transition;
      a {
        position: relative;
        z-index: 2;
      }
      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-md;
      }
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    margin-top: $spacing-sm;
  }

  &__field {
    @extend .field-tag;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: 500;
    margin: 0;

    a {
      position: relative;
      z-index: 2;
      color: inherit;
      transition: color $transition;
    }
  }

  &__content {
    color: var(--text-light);
    line-clamp: 5;
    display: -webkit-box;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    max-width: 90ch;

    div {
      clip-path: inset(0);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    background-color: var(--border-dull);
    color: var(--text-lighter);
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-sm;
    font-size: $font-size-xs;
    transition: background-color $transition,
      color $transition;
  }

  &__footer {
    margin-block-start: $spacing-sm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: $spacing-md;
    margin: 0 calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));

    @media (max-width: $breakpoint-sm) {
      margin-inline: calc($spacing-md * (-1));
      padding-inline: 0;
    }

    &-left,
    &-right {
      display: flex;
      align-items: center;
      width: 100%;
      margin-block-start: auto;
      z-index: 2;
    }

    &-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding-inline: $spacing-xl;
      @media (max-width: $breakpoint-sm) {
        padding-inline: $spacing-md;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      position: relative;

      &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: $spacing-xs;
        width: 100%;
      }
    }

  }

  &:hover {
    box-shadow: 0 0 $spacing-md 0 var(--shadow-color);
  }
  &__bottlenecks-button {
    padding: $spacing-sm;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-xs;
    cursor: pointer;
    background-color: #00000006;
    color: var(--text-lighter);
    border: none;
    border-radius: 0 0 $border-radius-md $border-radius-md;
    font-size: $font-size-xs;
    margin-top: $spacing-sm;
    width: 100%;
    transition: color $transition, background-color $transition;
    &:hover {
      background-color: #00000010;
    }
    @media (max-width: $breakpoint-sm) {
      padding-inline: $spacing-md;
    }
  }
  
  &__bottlenecks-count {
    white-space: nowrap;
  }
  
  &__bottlenecks-icon {
    font-size: $font-size-xxs;
  }
  
  &__bottlenecks-expanded {
    margin: 0 calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));
    position: relative;
    z-index: 1;
    transition: border-color $transition,
      background-color $transition;
  
    @media (max-width: $breakpoint-sm) {
      margin-inline: calc($spacing-md * (-1));
      padding-inline: $spacing-md;
    }
  
    &-container {
      border-radius: $border-radius-md;
      padding: $spacing-lg;
      border: 1px solid var(--border-dull);
  
    }
  
  }
  
  &__bottlenecks-container {
    background-color: var(--background-color);
    border-radius: $border-radius-md;
    border: 1px solid var(--border-dull);
    border-block-start: none;
    margin: -1px;
  }
  
  &__bottlenecks-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  &__bottleneck-item {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-dull);
    padding: $spacing-md $spacing-xl;
  
    &:first-child {
      padding-block-start: $spacing-lg;
      border-block-start: 1px solid var(--border-dull);
    }
  
    &:last-child {
      border-block-end: none;
      border-radius: 0 0 $border-radius-md $border-radius-md;
    }
  
    @media (max-width: $breakpoint-sm) {
      margin-inline: calc($spacing-md * (-1));
      padding-inline: $spacing-md;
    }
  }
  &__bottleneck-field {
    @extend .field-tag;
    font-size: $font-size-xs;
    padding: 0.125rem 0.25rem;
    border-radius: $border-radius-sm;
  }
  &__bottleneck-link {
    display: block;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-light);
    font-size: $font-size-md;
    text-decoration: none;
    margin-block-end: $spacing-sm;
  
    &:hover {
      color: var(--primary-color);
    }
  }
  
}
.dark-mode .capability-card {
  &__bottlenecks-button {
    background-color: #00000010;

    &:hover {
      background-color: #00000016;
    }
  }

}
.dark-mode .capability-card:has(.capability-card__bottlenecks-expanded) {
  .capability-card__bottlenecks-button {
    background-color: #ffffff06;
  }
}

.capability-card:has(.capability-card__bottlenecks-expanded) {
  .capability-card__bottlenecks-button {
    background-color: var(--background-color-dark);
    color: var(--text-light);
    border-radius: 0 0 $border-radius-md $border-radius-md;
  }
}