.capability-detail__resource-group + .capability-detail__resource-group {
  margin-block-start: $spacing-md;
  @media (max-width: $breakpoint-sm) {
    margin-block-start: $spacing-xs;
  }

}
.capability-detail, .field-detail {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;
  background-color: var(--card-background);
  border: 1px solid var(--border-dull);
  border-radius: $border-radius-lg;
  padding: $spacing-xl;
  transition: background-color $transition,
    border $transition;
    @media (max-width: $breakpoint-sm) {
      padding-inline: $spacing-md;
      gap: $spacing-xl;
    }
    
  &--grid {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: $spacing-lg;
    background-color: var(--card-background);
    border: 1px solid var(--border-dull);
    border-radius: $border-radius-lg;
    padding: $spacing-xl $spacing-xl $spacing-lg $spacing-xl;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: background-color $transition,
      border $transition,
      box-shadow $transition,
      scale $transition;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-md $spacing-xxl;
    flex-wrap: wrap;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    padding: $spacing-xl;
    margin: calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));
    border-bottom: 1px solid var(--border-dull);
    transition: background-color $transition,
      border-color $transition;
      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-md;
      }
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    margin-bottom: $spacing-sm;
  }

  &__field {
    display: block;
    margin-block-start: 0.42em;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;
    font-size: $font-size-sm;
    border: 1px solid transparent;
    letter-spacing: 0.04em;
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: $spacing-sm $spacing-lg;
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-sm;
    margin-top: $spacing-sm;
  }

  &__tag {
    display: inline-block;
    background-color: var(--border-dull);
    color: var(--text-lighter);
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;
    font-size: $font-size-sm;

  }

  &__content {
    max-width: 110ch;
    font-size: $font-size-md;
    color: var(--text-light);
    line-height: 1.5;
    @media (max-width: $breakpoint-sm) {
      font-size: 1rem;
    }
  }

  &__resources {
    padding: $spacing-xxl $spacing-xl $spacing-xl;
    margin: 0 calc($spacing-xl * (-1)) 0 calc($spacing-xl * (-1));
    background-color: var(--background-color);
    border-block-start: 1px solid var(--border-dull);
    transition: border $transition,
      background-color $transition;
      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-xs;
        padding-block-end: $spacing-xs;
      }
      h2 {
        @media (max-width: $breakpoint-sm) {
          margin-inline-start: $spacing-md;
        }
      }
  }

&__resource-group-items {
  break-inside: avoid;
  border-radius: $border-radius-lg;
  overflow: hidden;
  border: 1px solid var(--border-dull);
  transition: border-color $transition;
}
  &__resource-list {
    list-style: none;
    column-count: 1;
    column-gap: $spacing-md;
    padding: $spacing-lg 0 0;
    align-items: flex-start;

    @media (min-width: $breakpoint-lg) {
      column-count: 2;
    }
    @media (min-width: $breakpoint-xxl) {
      column-count: 3;
    }
  }

  &__resource-link {
    display: flex;
    flex-direction: column-reverse;
    gap: $spacing-sm;
  }

  &__resource-item {
    font-size: $font-size-sm;
    letter-spacing: 0.04em;
    border-block-start: 1px solid var(--border-dull);
    background-color: var(--background-color-dark);
    padding: $spacing-md;
    transition: background-color $transition, color $transition, border-color $transition;
    &:first-child {
      border-block-start: none;
    }
    a {
      color: var(--text-color);
      display: inline-block;
      max-width: 65ch;
      line-height: 1.1;
      letter-spacing: 0.04em;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__resource-type {
    font-size: $font-size-xs;
    padding: calc($spacing-xs * 0.5) $spacing-xs;
    border-radius: $border-radius-sm;
    align-self: flex-start;
  }

  &__bottlenecks {
    padding: $spacing-xxl $spacing-md $spacing-md;
    margin: 0 calc($spacing-xl * (-1)) calc($spacing-xl * (-1)) calc($spacing-xl * (-1));
    background-color: var(--background-color);
    border-top: 1px solid var(--border-dull);
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
    transition: border $transition,
      background-color $transition;
      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-xs;
        padding-block-end: $spacing-xs;
      }
  }

  &__bottlenecks-grid, .fields-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;
    margin-block-start: $spacing-lg;

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $breakpoint-xxl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}

.capability-detail {
  .bottleneck-card {
    padding-block-end: $spacing-md;
    @media (max-width: $breakpoint-sm) {
      padding-block-end: 0;
    }
  }
}