.contribute-header {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-inline: calc($spacing-xxl * -1);
    padding-block-end: $spacing-xxl;
    border-bottom: 1px solid var(--border-dull);

    h1,
    p {
        max-width: 80ch;
        text-align: center;
        margin: auto;
    }

    p {
        color: var(--text-light);
    }

    @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * -1);

      }
}

.contribute-content {
    max-width: 100ch;
    margin: $spacing-xxl auto 0;
}


.contribute-form {
    width: 100%;
    overflow: hidden;

    label {
        font-weight: 500;
    }

    input[type="text"],
    input[type="url"],
    input[type="email"],
    select,
    textarea {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid var(--border-dull);
        border-radius: $border-radius-md;
        font-family: inherit;
        font-size: 1rem;
        background-color: var(--card-background);
        color: var(--text-color);
        transition: border-color $transition, background-color $transition;

        &:focus {
            outline: none;
            border-color: var(--primary-color);
        }
    }

    input[type="text"] {
        padding-inline-end: $spacing-md
    }

    input[type="range"] {
        width: 100%;
        margin: $spacing-sm 0 0;
    }

    &__user-info-fields {
        .form-group + .form-group {
            margin-block-start: $spacing-xl;
        }
    }

    .contributor-info {
        order: -1;
        display: flex;
        flex-direction: column;
        gap: $spacing-lg;
    }

    .range-labels {
        display: flex;
        justify-content: space-between;
        font-size: $font-size-sm;
        color: var(--text-lighter);
    }

    &__tabs {
        display: flex;
        margin-block: $spacing-xxl;
        border-bottom: 1px solid var(--border-color);

        @media screen and (max-width: $breakpoint-lg) {
            flex-direction: column;
            border-color: transparent;

        }

        .contribute-form__tab {
            padding: $spacing-md $spacing-lg;
            background: none;
            border: none;
            border-bottom: 3px solid transparent;
            display: flex;
            align-items: center;
            color: var(--text-light);
            font-weight: 500;
            font-size: $font-size-md;
            cursor: pointer;
            transition: all $transition;

            @media screen and (max-width: $breakpoint-lg) {
                padding-inline-start: 0;
                align-items: flex-start;
            }

            &:hover {
                color: var(--primary-color);
            }

            &.active {
                color: var(--primary-color);
                border-bottom-color: var(--primary-color);
            }
        }
    }

    &__error {
        background-color: rgba(255, 0, 0, 0.1);
        color: #d32f2f;
        padding: $spacing-md;
        border-radius: $border-radius-md;
        margin-bottom: $spacing-lg
    }

    &__content {
        form {
            display: flex;
            flex-direction: column;
            gap: $spacing-xl;
        }
    }

    .form-group,
    .autocomplete-input {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
    }

    .form-actions {
        margin-top: 1rem;

        .submit-button {
            padding: $spacing-md $spacing-lg;
            background-color: var(--primary-color);
            color: white;
            border: none;
            border-radius: $border-radius-md;
            font-weight: 500;
            cursor: pointer;
            transition: background-color $transition;

            &:hover {
                background-color: var(--highlight-color);
            }

            &:disabled {
                background-color: var(--border-dull);
                cursor: not-allowed;
            }
        }
    }
}

.autocomplete-input {
    &__container {
        position: relative;
    }

    &__suggestions {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--background-color-dark);
        border: 1px solid var(--border-dull);
        border-radius: $border-radius-md;
        z-index: 1000;
        max-height: 24rem;
        overflow-y: auto;
    }

    &__suggestion {
        padding: 0.75rem;
        cursor: pointer;
        transition: color $transition;
        
        &:hover {
            color: var(--primary-color);
        }
    }

    &__no-suggestions {
        padding: $spacing-md;
        color: var(--text-light);
    }
}

.dark-mode {
    .contribute-form {

        input[type="text"],
        input[type="url"],
        input[type="email"],
        select,
        textarea {
            border-color: var(--border-dull);

            &:focus {
                border-color: var(--primary-color);
            }
        }

        &__error {
            background-color: rgba(255, 0, 0, 0.2);
        }
    }
}