.discipline-filter {
  position: sticky;
  top: $spacing-xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  background-color: var(--background-color-dark);
  border-radius: $border-radius-lg;
  padding: $spacing-lg 0 $spacing-md;
  max-width: 18rem;
  max-height: calc(100vh - (2 * $spacing-xl));
  overflow: auto;
  transition:
    background-color $transition,
    box-shadow $transition;

  @media (max-width: $breakpoint-lg) {
    max-width: unset;
  }

  &__header {
    color: var(--text-lighter);
    margin: 0 $spacing-lg;
    transition: color $transition;

    h3 {
      font-weight: 400;
      font-size: $font-size-sm;
      letter-spacing: 0.04em;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0 $spacing-md;
    gap: $spacing-xs;
  }

  &__item {}

  &__checkbox {
    display: flex;
    align-items: center;
    border-radius: $border-radius-md;

    &.active {
      background-color: rgba(var(--primary-color), 0.1);
    }

    input {
      height: 0;
      width: 0;

      &:checked {
        +label {
          background-color: var(--highlight-bg);
          color: var(--text-color);
          border-color: var(--border-color);
        }
      }

      &:focus {
        +label {
          border-color: var(--border-color);
        }
      }
    }

    label {
      cursor: pointer;
      padding: $spacing-xs $spacing-sm;
      color: var(--text-light);
      border-radius: $border-radius-md;
      border: 1px solid transparent;
      transition: background-color $transition,
        color $transition,
        border-color $transition;
        &:hover {
          background-color: var(--highlight-bg);
        }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    background-color: var(--card-background);
    padding: $spacing-sm $spacing-lg;
    gap: $spacing-xs;
    transition: background-color $transition;
  }

  &__button {
    background: none;
    border: none;
    color: var(--text-light);
    cursor: pointer;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;
    transition: background-color $transition,
      border-color $transition,
      color $transition;

    &:hover {
      background-color: var(--border-color);
    }
  }
}