.discipline-filter {
  position: sticky;
  top: $spacing-xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  background-color: var(--background-color-dark);
  border-radius: $border-radius-lg;
  padding: $spacing-lg;
  max-width: 18rem;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;

  @media (max-width: $breakpoint-lg) {
    max-width: unset;
  }

  &__header {}

  &__list {}

  &__item {}

  &__checkbox {
    display: flex;
    align-items: center;
    padding: $spacing-xs;
    border-radius:$border-radius-md;
    transition: background-color 0.3s,
    border-color 0.3s;

    &.active {
      background-color: rgba(var(--primary-color), 0.1);
    }

    input {
      margin-right: $spacing-sm;
    }

    label {
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    gap: $spacing-xs;
    transition: border-color 0.3s;
  }

  &__button {
    background: none;
    border: none;
    color: var(--light-text);
    cursor: pointer;
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--border-color);
    }
  }
}