.rank-indicator-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    .rank-indicator {
        display: flex;
        gap: $spacing-md;
        align-items: center;

        &__block {
            width: $spacing-sm;
            height: $spacing-xs;
            background-color: var(--border-dull);
            transition: background-color $transition;

            &.active {
                background-color: var(--text-lighter);
                &:first-of-type {
                    background-color: var(--discipline-blue-primary)
                }
                &:nth-of-type(2) {
                    background-color: var(--discipline-green-primary)
                }
                &:nth-of-type(3) {
                    background-color: var(--discipline-yellow-primary)
                }
                &:nth-of-type(4) {
                    background-color: var(--discipline-orange-primary)
                }
                &:last-of-type{
                    background-color: var(--discipline-red-primary)
                }
            }
        }
    }

    .title {
        color: var(--text-lighter);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: $font-size-xxs;
        margin-inline-start: -0.15em;
        opacity: 0.65;
    }
}