// src/styles/components/_resource-card.scss
.resource-card:has(.resource-card__capabilities-expanded) {
    margin-block-end: $spacing-md;
    .resource-card__capabilities-button {
        background-color: #ffffff07;
        border-color: var(--tertiary-color);
        color: var(--text-light);
        border-radius: 0 0 $border-radius-md $border-radius-md;
    }
}
.resource-group + .resource-group {
    margin-block-start: $spacing-xl;
}
.resource-group {
    .resource-card + .resource-card {
        margin-block-start: $spacing-md;
    }
}
.resource-card {
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--card-background);
    border: 1px solid var(--border-dull);
    border-radius: $border-radius-lg;
    height: auto;
    min-width: 0;
    margin-top: -1px;
    
    @media (max-width: $breakpoint-sm) {
      padding-inline: $spacing-md;
    }
  
    &__header {
      border-radius: $border-radius-lg $border-radius-md 0 0;
      padding: $spacing-md;

      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-md;
      }
    }
  
    &__type {
      display: inline-block;
      padding: 0.125rem $spacing-xs;
      border: 1px solid transparent;
      border-radius: $border-radius-md;
      font-size: $font-size-xs;
      letter-spacing: 0.04em;
    }
  
    &__title {
      font-size: 1rem;
      margin-block-start: $spacing-sm;
      
      a {
        position: relative;
        color: inherit;
        text-decoration: none;
        
      }
    }
  
    &__content {
      color: var(--text-light);
      flex-grow: 1;
      line-height: 1.5;
      line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      max-width: 90ch;
  
      div {
        clip-path: inset(0);
      }
    }
  
    &__fields {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-xs;
      margin-top: $spacing-sm;
    }
  
    &__field {
      display: inline-block;
      color: var(--text-light);
      padding: 0.125rem $spacing-xs;
      border: 1px solid transparent;
      border-radius: $border-radius-md;
      font-size: $font-size-xs;
      letter-spacing: 0.04em;
    }
  
    &__footer {
      display: flex;
      justify-content: space-between;
      margin-block-start: auto;
      align-items: flex-end;
      justify-content: flex-end;
      gap: $spacing-xl;
      background-color: #00000010;
  
      &-left,
      &-right {
        display: flex;
        align-items: center;
      }
      
      &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      
      &-right {
        display: flex;
        align-items: center;
        width: 100%;
      }
      
      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
      }
    }
  
    &__capabilities-button {
      padding: $spacing-sm;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $spacing-xs;
      cursor: pointer;
      background-color: transparent;
      color: var(--text-lighter);
      border: none;
      border-radius: $border-radius-md;
      font-size: $font-size-xs;
      width: 100%;

      @media (max-width: $breakpoint-sm) {
        padding-inline: $spacing-md;
      }
    }
  
    &__capabilities-count {
      white-space: nowrap;
    }

    &__capabilities-expanded {
      
      &-container {
        border-radius: $border-radius-md;
        padding: $spacing-lg;
        border: 1px solid var(--border-dull);
      }
    }
    
    &__capabilities-container {
      background-color: var(--background-color);
      border-radius: $border-radius-md;
      border: 1px solid var(--border-dull);
      border-block-start: none;
      margin: -1px;
    }
    
    &__capabilities-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    
    &__capability-item {
      background-color: var(--background-color);
      border-bottom: 1px solid var(--border-dull);
      border-radius: $border-radius-md;
      padding: $spacing-md;

      &:first-child {
        border-block-start: 1px solid var(--border-dull);
      }
      &:last-child {
        border-block-end: none;
      }

      @media (max-width: $breakpoint-sm) {
        margin-inline: calc($spacing-md * (-1));
        padding-inline: $spacing-md;
      }
    }
    
    &__capability-link {
      display: block;
      font-weight: 500;
      line-height: 1.2;
      color: var(--text-color);
      font-size: $font-size-md;
      text-decoration: none;
      margin-block-end: $spacing-sm;
    }
    
    &__capability-fields {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-xs;
      margin-top: $spacing-xs;
    }
  
    &:hover {

    }
  }