.solution-card {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  background-color: var(--background-color);
  border-radius: $border-radius-lg;
  padding: $spacing-lg;
  border: 1px solid var(--border-color);
  transition: background-color $transition, border-color $transition;
    h3 {
      color: var(--text-color);
      font-weight: 500;
    }
    &__title {
      font-size: $font-size-lg;
      border-bottom: 1px solid var(--border-dull);
      transition: color $transition, border-color $transition;
    }

    &__content {
      max-width: 65ch;
      line-height: 1.5;
      color: var(--light-text);
    }

    &__references {
      margin-block-start: auto;
      h4 {
        font-size: $spacing-md;
        font-weight: normal;
        margin-bottom: $spacing-sm;
        color: var(--lighter-text);
        margin-block-end: $spacing-sm;
      }
    }

    &__reference-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      align-items: flex-start;
      padding: 0;
      li {
        font-size: $font-size-sm;
        line-height: 1.25;
        background-color: var(--card-background);
        padding: $spacing-md;
        border-radius: $border-radius-md;
        transition: background-color $transition;
        a {
          display: inline-block;
          max-width: 65ch;
        }
      }
    }

    &__reference-item {
      margin-bottom: $spacing-xs;
    }

    &__reference-item a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
}