.solution-card {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  background-color: var(--card-background);
  border-radius: $border-radius-lg;
  padding: $spacing-xl $spacing-xl $spacing-lg;
  border: 1px solid var(--border-color);
  transition: background-color $transition, border-color $transition;

  h3 {
    font-size: $font-size-lg;
    color: var(--text-color);
    font-weight: 500;
  }

  &__title {
    font-size: $font-size-lg;
    padding: 0 $spacing-xxl $spacing-lg $spacing-xl;
    border-bottom: 1px solid var(--border-dull);
    transition: color $transition, border-color $transition;
  }

  &__content {
    max-width: 65ch;
    line-height: 1.5;
    color: var(--text-light);
  }

  &__references {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-block-start: auto;
    padding: $spacing-lg $spacing-xl 0 $spacing-xl;
    border-top: 1px solid var(--border-dull);
    transition: border $transition;

    h4 {
      font-size: $spacing-md;
      font-weight: normal;
      margin-bottom: $spacing-lg;
      color: var(--text-lighter);
      margin: 0;
    }
  }

  &__title,
  &__references {
    margin-inline: calc($spacing-xl * (-1)) calc($spacing-xl * (-1));
  }

  &__reference-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding-inline: $spacing-md;
    align-items: flex-start;
    padding: 0;

    li {
      font-size: $font-size-sm;
      letter-spacing: 0.04em;
      line-height: 1.25;
      background-color: var(--background-color-dark);
      padding: $spacing-xs $spacing-sm;
      border-radius: $border-radius-md;
      transition: background-color $transition;

      a {
        color: var(--text-color);
        display: inline-block;
        max-width: 65ch;
        line-height: 1.1;
        letter-spacing: 0.04em;
        &::after {
          content: "🡥";
          display: inline;
          font-size: 0.85em;
        }
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }


  &__reference-item {
    a {
      text-decoration: none;
    }
  }
}