// src/styles/components/_suggest-edit-button.scss

.suggest-edit-button {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    background-color: var(--background-color-dark);
    color: var(--text-lighter);
    border: none;
    border-radius: $border-radius-md;
    padding: $spacing-xs $spacing-sm;
    font-size: $font-size-sm;
    cursor: pointer;
    transition: background-color $transition, color $transition;
    @media (max-width: $breakpoint-sm) {
        order: -1;
      }
    
    &:hover {
      color: var(--primary-color);
    }
  }