.tag-filter {
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius);
    margin-block-end: var(--spacing-md);
    position: sticky;
    top: var(--spacing-xl);
    background-color: var(--color-background-dark);
  }
  
  .tag-filter h2 {
    margin-block-start: 0;
    margin-block-end: var(--spacing-md);
    font-size: var(--font-size-lg);
    font-weight: 600;
  }
  
  .tag-actions {
    display: flex;
    gap: var(--spacing-xs);
    margin-block-end: var(--spacing-md);
  }
  
  .tag-action-btn {
    font-size: var(--font-size-xs);
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--color-background-dark);
    border: 1px solid var(--color-border);
    border-radius: calc(var(--border-radius) / 2);
    cursor: pointer;
    
    &:hover {
      background-color: var(--color-border);
    }
  }
  
  .tag-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    overflow-y: auto;
    max-height: calc(100vh - 21em);
    @media (max-width: $viewport-md){
        max-height: calc(60vh - 21em);
        min-height: 7em;
    }
  }
  
  .tag-item {
    display: flex;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: calc(var(--border-radius) / 2);
    transition: background-color 0.2s ease;
    
    &-selected {
      background-color: var(--color-tag-highlight);
      & .tag-name {
        color: var(--color-text-light);
      }
    }
  }
  
  .tag-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    width: 100%;
    
    input {
      margin-inline-end: var(--spacing-sm);
    }
  }
  
  .tag-name {
    flex: 1;
    color: var(--color-text-light);
  }
  
  .tag-count {
    color: var(--color-text-light);
    font-size: var(--font-size-sm);
    margin-inline-start: var(--spacing-sm);
  }
  
  .no-tags {
    color: var(--color-text-light);
    font-style: italic;
  }
  
  .filter-status {
    background-color: var(--color-tag);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: calc(var(--border-radius) / 2);
    margin-block-end: var(--spacing-md);
    color: var(--color-text-light);
  }
  
  .selected-tag {
    display: inline-flex;
    align-items: center;
    margin: 0 var(--spacing-xs);
  }
  
  .remove-tag {
    background: none;
    border: none;
    font-size: var(--font-size-base);
    color: var(--color-text-light);
    cursor: pointer;
    padding: 0 var(--spacing-xs);
  }
  
  .clear-filters {
    background: none;
    border: none;
    color: var(--color-text);
    font-size: var(--font-size-sm);
    cursor: pointer;
    margin-inline-start: var(--spacing-sm);
    text-decoration: underline;
  }