.tag-cloud {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  margin-block-start: $spacing-lg;
    
    &__header {
      color: var(--text-lighter);
      
      h3 {
        font-weight: 400;
        font-size: $font-size-sm;
        letter-spacing: 0.04em;
      }
    }
    
    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-xs;
    }
    
    &__tag {
      background-color: var(--background-color-dark);
      color: var(--text-light);
      border: 1px solid var(--border-dull);
      border-radius: $border-radius-md;
      padding: $spacing-xs $spacing-sm;
      font-size: $font-size-sm;
      cursor: pointer;
      transition: all $transition;
      
      &:hover {
        border-color: var(--primary-color);
      }
      
      &.active {
        background-color: var(--primary-color);
        color: var(--pure-white);
        border-color: var(--primary-color);
      }
    }
  }
  
  // Private Tag Banner Styling
  .private-tag-banner {
    position: relative;
    margin-block-end: calc(-1 * $spacing-xl); // Pull it up to overlap with the tag cloud
    z-index: 4;
    
    &__content {
      background-color: var(--highlight-bg);
      border-radius: $border-radius-md $border-radius-md 0 0;
      padding: $spacing-md $spacing-lg;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-sm;
      
      span {
        
        strong {

        }
      }
    }
    
    &__clear {
      background: none;
      border: none;
      color: var(--text-light);
      cursor: pointer;
      font-size: $font-size-sm;
      padding: $spacing-xs $spacing-sm;
      border-radius: $border-radius-sm;
      transition: all $transition;
      
      &:hover {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
  
  // Dark mode adjustments
  .dark-mode {
    .tag-cloud {
      &__tag {
        &:hover {
          background-color: transparent;
        }
        
        &.active {
          background-color: var(--primary-color);
          color: var(--pure-white);
        }
      }
    }
    
    .private-tag-banner {
      &__content {
        background-color: var(--card-background);
        border-color: var(--border-dull);
      }
    }
  }