.view-toggle {
  background-color: var(--card-background);
  display: flex;
  border: 1px solid var(--border-color);
  border-left-color: var(--border-dull);
  border-radius: 0 $border-radius-lg $border-radius-lg 0;
  overflow: hidden;
  transition: border-color $transition;
}

.view-toggle__button {
  background-color: var(--card-background);
  border: none;
  padding: $spacing-sm $spacing-md;
  cursor: pointer;
  color: var(--text-lighter);
  transition:
    background-color $transition,
    border $transition,
    color $transition;

  &:first-child {
    border-right: 1px solid var(--border-dull);
  }

  &:hover {
    background-color: var(--border-dull);
  }

  &.active {
    background-color: var(--background-color-dark);
    color: var(--text-color);
  }
}
.theme-toggle {
  background: none;
  border: none;
  color: var(--text-light);
  cursor: pointer;
  padding: $spacing-sm;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(128, 128, 128, 0.1);
    color: var(--primary-color);
  }
}