:root {

  --field-color-0: #94eead;
  --field-color-0-light: #daf5e2;
  --field-color-0-dark: #27e75d;
  --field-color-0-hover: #b8f0c8;
  --field-color-0-border: #27e75d;
  --field-color-0-bgDark: rgba(148, 238, 173, 0.04);
  --field-color-0-bgLight: rgba(148, 238, 173, 0.07);

  --field-color-1: #94e4b9;
  --field-color-1-light: #d4f0e1;
  --field-color-1-dark: #33d57e;
  --field-color-1-hover: #b5e9cd;
  --field-color-1-border: #33d57e;
  --field-color-1-bgDark: rgba(148, 228, 185, 0.04);
  --field-color-1-bgLight: rgba(148, 228, 185, 0.07);

  --field-color-2: #94dac4;
  --field-color-2-light: #cee9e1;
  --field-color-2-dark: #3cc499;
  --field-color-2-hover: #b2e1d2;
  --field-color-2-border: #3cc499;
  --field-color-2-bgDark: rgba(148, 218, 196, 0.04);
  --field-color-2-bgLight: rgba(148, 218, 196, 0.07);

  --field-color-3: #95d1cd;
  --field-color-3-light: #cae3e2;
  --field-color-3-dark: #47b4ac;
  --field-color-3-hover: #b0dad7;
  --field-color-3-border: #47b4ac;
  --field-color-3-bgDark: rgba(149, 209, 205, 0.04);
  --field-color-3-bgLight: rgba(149, 209, 205, 0.07);

  --field-color-4: #96c9d4;
  --field-color-4-light: #cde1e6;
  --field-color-4-dark: #44a4b9;
  --field-color-4-hover: #b2d5dc;
  --field-color-4-border: #44a4b9;
  --field-color-4-bgDark: rgba(150, 201, 212, 0.04);
  --field-color-4-bgLight: rgba(150, 201, 212, 0.07);

  --field-color-5: #99c0d8;
  --field-color-5-light: #d1e0e9;
  --field-color-5-dark: #4390bf;
  --field-color-5-hover: #b6d0e0;
  --field-color-5-border: #4390bf;
  --field-color-5-bgDark: rgba(153, 192, 216, 0.04);
  --field-color-5-bgLight: rgba(153, 192, 216, 0.07);

  --field-color-6: #9db8db;
  --field-color-6-light: #d7e0ec;
  --field-color-6-dark: #457bc2;
  --field-color-6-hover: #bbcce3;
  --field-color-6-border: #457bc2;
  --field-color-6-bgDark: rgba(157, 184, 219, 0.04);
  --field-color-6-bgLight: rgba(157, 184, 219, 0.07);

  --field-color-7: #a4afdc;
  --field-color-7-light: #dee1ef;
  --field-color-7-dark: #4b63c1;
  --field-color-7-hover: #c2c9e5;
  --field-color-7-border: #4b63c1;
  --field-color-7-bgDark: rgba(164, 175, 220, 0.04);
  --field-color-7-bgLight: rgba(164, 175, 220, 0.07);

  --field-color-8: #ada6db;
  --field-color-8-light: #e1dfef;
  --field-color-8-dark: #5d4fbf;
  --field-color-8-hover: #c8c3e4;
  --field-color-8-border: #5d4fbf;
  --field-color-8-bgDark: rgba(173, 166, 219, 0.04);
  --field-color-8-bgLight: rgba(173, 166, 219, 0.07);

  --field-color-9: #b89fd7;
  --field-color-9-light: #dfd6ea;
  --field-color-9-dark: #7d4bbb;
  --field-color-9-hover: #ccbbe0;
  --field-color-9-border: #7d4bbb;
  --field-color-9-bgDark: rgba(184, 159, 215, 0.04);
  --field-color-9-bgLight: rgba(184, 159, 215, 0.07);

  --field-color-10: #c39bcd;
  --field-color-10-light: #decee2;
  --field-color-10-dark: #9a50ac;
  --field-color-10-hover: #d0b5d7;
  --field-color-10-border: #9a50ac;
  --field-color-10-bgDark: rgba(195, 155, 205, 0.04);
  --field-color-10-bgLight: rgba(195, 155, 205, 0.07);

  --field-color-11: #cf9bbe;
  --field-color-11-light: #e4cfdd;
  --field-color-11-dark: #b04e90;
  --field-color-11-hover: #d9b5cd;
  --field-color-11-border: #b04e90;
  --field-color-11-bgDark: rgba(207, 155, 190, 0.04);
  --field-color-11-bgLight: rgba(207, 155, 190, 0.07);

  --field-color-12: #da9eae;
  --field-color-12-light: #ecd7dd;
  --field-color-12-dark: #c04767;
  --field-color-12-hover: #e2bbc6;
  --field-color-12-border: #c04767;
  --field-color-12-bgDark: rgba(218, 158, 174, 0.04);
  --field-color-12-bgLight: rgba(218, 158, 174, 0.07);

  --field-color-13: #e1a3a1;
  --field-color-13-light: #f1dfde;
  --field-color-13-dark: #cb4743;
  --field-color-13-hover: #e8c2c0;
  --field-color-13-border: #cb4743;
  --field-color-13-bgDark: rgba(225, 163, 161, 0.04);
  --field-color-13-bgLight: rgba(225, 163, 161, 0.07);

  --field-color-14: #e4aa99;
  --field-color-14-light: #f1ded8;
  --field-color-14-dark: #d35b38;
  --field-color-14-hover: #e9c5ba;
  --field-color-14-border: #d35b38;
  --field-color-14-bgDark: rgba(228, 170, 153, 0.04);
  --field-color-14-bgLight: rgba(228, 170, 153, 0.07);

  --field-color-15: #e5b293;
  --field-color-15-light: #f0ded3;
  --field-color-15-dark: #d76f31;
  --field-color-15-hover: #e9c8b4;
  --field-color-15-border: #d76f31;
  --field-color-15-bgDark: rgba(229, 178, 147, 0.04);
  --field-color-15-bgLight: rgba(229, 178, 147, 0.07);

  --field-color-16: #e5bb8f;
  --field-color-16-light: #efe0cf;
  --field-color-16-dark: #d8842d;
  --field-color-16-hover: #e9cdb0;
  --field-color-16-border: #d8842d;
  --field-color-16-bgDark: rgba(229, 187, 143, 0.04);
  --field-color-16-bgLight: rgba(229, 187, 143, 0.07);

  --field-color-17: #e6c48c;
  --field-color-17-light: #efe2cd;
  --field-color-17-dark: #da9729;
  --field-color-17-hover: #e9d3ae;
  --field-color-17-border: #da9729;
  --field-color-17-bgDark: rgba(230, 196, 140, 0.04);
  --field-color-17-bgLight: rgba(230, 196, 140, 0.07);

  --field-color-18: #e7ce8a;
  --field-color-18-light: #efe6cc;
  --field-color-18-dark: #dcab26;
  --field-color-18-hover: #ead9ac;
  --field-color-18-border: #dcab26;
  --field-color-18-bgDark: rgba(231, 206, 138, 0.04);
  --field-color-18-bgLight: rgba(231, 206, 138, 0.07);

  --field-color-19: #e9d787;
  --field-color-19-light: #f0e9ca;
  --field-color-19-dark: #e1bd21;
  --field-color-19-hover: #ebdfaa;
  --field-color-19-border: #e1bd21;
  --field-color-19-bgDark: rgba(233, 215, 135, 0.04);
  --field-color-19-bgLight: rgba(233, 215, 135, 0.07);
}


            .field-gradient-0 {
                background-color: var(--field-color-0-light);
            }

            .field-gradient-0.active {
                border-color: var(--field-color-0-dark);
            }

            .field-gradient-0:hover input + label {
                background-color: var(--field-color-0-hover) !important;
           }

            .field-gradient-0.active input + label {
                background-color: var(--field-color-0-light) !important;
                border-color: var(--field-color-0-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-0) {
                background-color: var(--field-color-0-bgLight);
            }

            .dark-mode .field-gradient-0 {
                border-color: var(--field-color-0-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-0.active {
                color: var(--field-color-0-hover) !important;
            }

            .dark-mode .field-gradient-0:hover input + label {
                border-color: var(--field-color-0-dark) !important;
                color: var(--field-color-0-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-0.active input + label {
                color: var(--field-color-0-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-0) {
                background-color: var(--field-color-0-bgDark);
            }   
            
            .field-gradient-1 {
                background-color: var(--field-color-1-light);
            }

            .field-gradient-1.active {
                border-color: var(--field-color-1-dark);
            }

            .field-gradient-1:hover input + label {
                background-color: var(--field-color-1-hover) !important;
           }

            .field-gradient-1.active input + label {
                background-color: var(--field-color-1-light) !important;
                border-color: var(--field-color-1-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-1) {
                background-color: var(--field-color-1-bgLight);
            }

            .dark-mode .field-gradient-1 {
                border-color: var(--field-color-1-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-1.active {
                color: var(--field-color-1-hover) !important;
            }

            .dark-mode .field-gradient-1:hover input + label {
                border-color: var(--field-color-1-dark) !important;
                color: var(--field-color-1-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-1.active input + label {
                color: var(--field-color-1-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-1) {
                background-color: var(--field-color-1-bgDark);
            }   
            
            .field-gradient-2 {
                background-color: var(--field-color-2-light);
            }

            .field-gradient-2.active {
                border-color: var(--field-color-2-dark);
            }

            .field-gradient-2:hover input + label {
                background-color: var(--field-color-2-hover) !important;
           }

            .field-gradient-2.active input + label {
                background-color: var(--field-color-2-light) !important;
                border-color: var(--field-color-2-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-2) {
                background-color: var(--field-color-2-bgLight);
            }

            .dark-mode .field-gradient-2 {
                border-color: var(--field-color-2-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-2.active {
                color: var(--field-color-2-hover) !important;
            }

            .dark-mode .field-gradient-2:hover input + label {
                border-color: var(--field-color-2-dark) !important;
                color: var(--field-color-2-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-2.active input + label {
                color: var(--field-color-2-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-2) {
                background-color: var(--field-color-2-bgDark);
            }   
            
            .field-gradient-3 {
                background-color: var(--field-color-3-light);
            }

            .field-gradient-3.active {
                border-color: var(--field-color-3-dark);
            }

            .field-gradient-3:hover input + label {
                background-color: var(--field-color-3-hover) !important;
           }

            .field-gradient-3.active input + label {
                background-color: var(--field-color-3-light) !important;
                border-color: var(--field-color-3-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-3) {
                background-color: var(--field-color-3-bgLight);
            }

            .dark-mode .field-gradient-3 {
                border-color: var(--field-color-3-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-3.active {
                color: var(--field-color-3-hover) !important;
            }

            .dark-mode .field-gradient-3:hover input + label {
                border-color: var(--field-color-3-dark) !important;
                color: var(--field-color-3-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-3.active input + label {
                color: var(--field-color-3-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-3) {
                background-color: var(--field-color-3-bgDark);
            }   
            
            .field-gradient-4 {
                background-color: var(--field-color-4-light);
            }

            .field-gradient-4.active {
                border-color: var(--field-color-4-dark);
            }

            .field-gradient-4:hover input + label {
                background-color: var(--field-color-4-hover) !important;
           }

            .field-gradient-4.active input + label {
                background-color: var(--field-color-4-light) !important;
                border-color: var(--field-color-4-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-4) {
                background-color: var(--field-color-4-bgLight);
            }

            .dark-mode .field-gradient-4 {
                border-color: var(--field-color-4-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-4.active {
                color: var(--field-color-4-hover) !important;
            }

            .dark-mode .field-gradient-4:hover input + label {
                border-color: var(--field-color-4-dark) !important;
                color: var(--field-color-4-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-4.active input + label {
                color: var(--field-color-4-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-4) {
                background-color: var(--field-color-4-bgDark);
            }   
            
            .field-gradient-5 {
                background-color: var(--field-color-5-light);
            }

            .field-gradient-5.active {
                border-color: var(--field-color-5-dark);
            }

            .field-gradient-5:hover input + label {
                background-color: var(--field-color-5-hover) !important;
           }

            .field-gradient-5.active input + label {
                background-color: var(--field-color-5-light) !important;
                border-color: var(--field-color-5-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-5) {
                background-color: var(--field-color-5-bgLight);
            }

            .dark-mode .field-gradient-5 {
                border-color: var(--field-color-5-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-5.active {
                color: var(--field-color-5-hover) !important;
            }

            .dark-mode .field-gradient-5:hover input + label {
                border-color: var(--field-color-5-dark) !important;
                color: var(--field-color-5-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-5.active input + label {
                color: var(--field-color-5-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-5) {
                background-color: var(--field-color-5-bgDark);
            }   
            
            .field-gradient-6 {
                background-color: var(--field-color-6-light);
            }

            .field-gradient-6.active {
                border-color: var(--field-color-6-dark);
            }

            .field-gradient-6:hover input + label {
                background-color: var(--field-color-6-hover) !important;
           }

            .field-gradient-6.active input + label {
                background-color: var(--field-color-6-light) !important;
                border-color: var(--field-color-6-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-6) {
                background-color: var(--field-color-6-bgLight);
            }

            .dark-mode .field-gradient-6 {
                border-color: var(--field-color-6-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-6.active {
                color: var(--field-color-6-hover) !important;
            }

            .dark-mode .field-gradient-6:hover input + label {
                border-color: var(--field-color-6-dark) !important;
                color: var(--field-color-6-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-6.active input + label {
                color: var(--field-color-6-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-6) {
                background-color: var(--field-color-6-bgDark);
            }   
            
            .field-gradient-7 {
                background-color: var(--field-color-7-light);
            }

            .field-gradient-7.active {
                border-color: var(--field-color-7-dark);
            }

            .field-gradient-7:hover input + label {
                background-color: var(--field-color-7-hover) !important;
           }

            .field-gradient-7.active input + label {
                background-color: var(--field-color-7-light) !important;
                border-color: var(--field-color-7-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-7) {
                background-color: var(--field-color-7-bgLight);
            }

            .dark-mode .field-gradient-7 {
                border-color: var(--field-color-7-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-7.active {
                color: var(--field-color-7-hover) !important;
            }

            .dark-mode .field-gradient-7:hover input + label {
                border-color: var(--field-color-7-dark) !important;
                color: var(--field-color-7-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-7.active input + label {
                color: var(--field-color-7-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-7) {
                background-color: var(--field-color-7-bgDark);
            }   
            
            .field-gradient-8 {
                background-color: var(--field-color-8-light);
            }

            .field-gradient-8.active {
                border-color: var(--field-color-8-dark);
            }

            .field-gradient-8:hover input + label {
                background-color: var(--field-color-8-hover) !important;
           }

            .field-gradient-8.active input + label {
                background-color: var(--field-color-8-light) !important;
                border-color: var(--field-color-8-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-8) {
                background-color: var(--field-color-8-bgLight);
            }

            .dark-mode .field-gradient-8 {
                border-color: var(--field-color-8-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-8.active {
                color: var(--field-color-8-hover) !important;
            }

            .dark-mode .field-gradient-8:hover input + label {
                border-color: var(--field-color-8-dark) !important;
                color: var(--field-color-8-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-8.active input + label {
                color: var(--field-color-8-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-8) {
                background-color: var(--field-color-8-bgDark);
            }   
            
            .field-gradient-9 {
                background-color: var(--field-color-9-light);
            }

            .field-gradient-9.active {
                border-color: var(--field-color-9-dark);
            }

            .field-gradient-9:hover input + label {
                background-color: var(--field-color-9-hover) !important;
           }

            .field-gradient-9.active input + label {
                background-color: var(--field-color-9-light) !important;
                border-color: var(--field-color-9-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-9) {
                background-color: var(--field-color-9-bgLight);
            }

            .dark-mode .field-gradient-9 {
                border-color: var(--field-color-9-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-9.active {
                color: var(--field-color-9-hover) !important;
            }

            .dark-mode .field-gradient-9:hover input + label {
                border-color: var(--field-color-9-dark) !important;
                color: var(--field-color-9-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-9.active input + label {
                color: var(--field-color-9-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-9) {
                background-color: var(--field-color-9-bgDark);
            }   
            
            .field-gradient-10 {
                background-color: var(--field-color-10-light);
            }

            .field-gradient-10.active {
                border-color: var(--field-color-10-dark);
            }

            .field-gradient-10:hover input + label {
                background-color: var(--field-color-10-hover) !important;
           }

            .field-gradient-10.active input + label {
                background-color: var(--field-color-10-light) !important;
                border-color: var(--field-color-10-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-10) {
                background-color: var(--field-color-10-bgLight);
            }

            .dark-mode .field-gradient-10 {
                border-color: var(--field-color-10-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-10.active {
                color: var(--field-color-10-hover) !important;
            }

            .dark-mode .field-gradient-10:hover input + label {
                border-color: var(--field-color-10-dark) !important;
                color: var(--field-color-10-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-10.active input + label {
                color: var(--field-color-10-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-10) {
                background-color: var(--field-color-10-bgDark);
            }   
            
            .field-gradient-11 {
                background-color: var(--field-color-11-light);
            }

            .field-gradient-11.active {
                border-color: var(--field-color-11-dark);
            }

            .field-gradient-11:hover input + label {
                background-color: var(--field-color-11-hover) !important;
           }

            .field-gradient-11.active input + label {
                background-color: var(--field-color-11-light) !important;
                border-color: var(--field-color-11-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-11) {
                background-color: var(--field-color-11-bgLight);
            }

            .dark-mode .field-gradient-11 {
                border-color: var(--field-color-11-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-11.active {
                color: var(--field-color-11-hover) !important;
            }

            .dark-mode .field-gradient-11:hover input + label {
                border-color: var(--field-color-11-dark) !important;
                color: var(--field-color-11-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-11.active input + label {
                color: var(--field-color-11-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-11) {
                background-color: var(--field-color-11-bgDark);
            }   
            
            .field-gradient-12 {
                background-color: var(--field-color-12-light);
            }

            .field-gradient-12.active {
                border-color: var(--field-color-12-dark);
            }

            .field-gradient-12:hover input + label {
                background-color: var(--field-color-12-hover) !important;
           }

            .field-gradient-12.active input + label {
                background-color: var(--field-color-12-light) !important;
                border-color: var(--field-color-12-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-12) {
                background-color: var(--field-color-12-bgLight);
            }

            .dark-mode .field-gradient-12 {
                border-color: var(--field-color-12-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-12.active {
                color: var(--field-color-12-hover) !important;
            }

            .dark-mode .field-gradient-12:hover input + label {
                border-color: var(--field-color-12-dark) !important;
                color: var(--field-color-12-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-12.active input + label {
                color: var(--field-color-12-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-12) {
                background-color: var(--field-color-12-bgDark);
            }   
            
            .field-gradient-13 {
                background-color: var(--field-color-13-light);
            }

            .field-gradient-13.active {
                border-color: var(--field-color-13-dark);
            }

            .field-gradient-13:hover input + label {
                background-color: var(--field-color-13-hover) !important;
           }

            .field-gradient-13.active input + label {
                background-color: var(--field-color-13-light) !important;
                border-color: var(--field-color-13-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-13) {
                background-color: var(--field-color-13-bgLight);
            }

            .dark-mode .field-gradient-13 {
                border-color: var(--field-color-13-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-13.active {
                color: var(--field-color-13-hover) !important;
            }

            .dark-mode .field-gradient-13:hover input + label {
                border-color: var(--field-color-13-dark) !important;
                color: var(--field-color-13-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-13.active input + label {
                color: var(--field-color-13-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-13) {
                background-color: var(--field-color-13-bgDark);
            }   
            
            .field-gradient-14 {
                background-color: var(--field-color-14-light);
            }

            .field-gradient-14.active {
                border-color: var(--field-color-14-dark);
            }

            .field-gradient-14:hover input + label {
                background-color: var(--field-color-14-hover) !important;
           }

            .field-gradient-14.active input + label {
                background-color: var(--field-color-14-light) !important;
                border-color: var(--field-color-14-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-14) {
                background-color: var(--field-color-14-bgLight);
            }

            .dark-mode .field-gradient-14 {
                border-color: var(--field-color-14-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-14.active {
                color: var(--field-color-14-hover) !important;
            }

            .dark-mode .field-gradient-14:hover input + label {
                border-color: var(--field-color-14-dark) !important;
                color: var(--field-color-14-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-14.active input + label {
                color: var(--field-color-14-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-14) {
                background-color: var(--field-color-14-bgDark);
            }   
            
            .field-gradient-15 {
                background-color: var(--field-color-15-light);
            }

            .field-gradient-15.active {
                border-color: var(--field-color-15-dark);
            }

            .field-gradient-15:hover input + label {
                background-color: var(--field-color-15-hover) !important;
           }

            .field-gradient-15.active input + label {
                background-color: var(--field-color-15-light) !important;
                border-color: var(--field-color-15-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-15) {
                background-color: var(--field-color-15-bgLight);
            }

            .dark-mode .field-gradient-15 {
                border-color: var(--field-color-15-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-15.active {
                color: var(--field-color-15-hover) !important;
            }

            .dark-mode .field-gradient-15:hover input + label {
                border-color: var(--field-color-15-dark) !important;
                color: var(--field-color-15-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-15.active input + label {
                color: var(--field-color-15-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-15) {
                background-color: var(--field-color-15-bgDark);
            }   
            
            .field-gradient-16 {
                background-color: var(--field-color-16-light);
            }

            .field-gradient-16.active {
                border-color: var(--field-color-16-dark);
            }

            .field-gradient-16:hover input + label {
                background-color: var(--field-color-16-hover) !important;
           }

            .field-gradient-16.active input + label {
                background-color: var(--field-color-16-light) !important;
                border-color: var(--field-color-16-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-16) {
                background-color: var(--field-color-16-bgLight);
            }

            .dark-mode .field-gradient-16 {
                border-color: var(--field-color-16-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-16.active {
                color: var(--field-color-16-hover) !important;
            }

            .dark-mode .field-gradient-16:hover input + label {
                border-color: var(--field-color-16-dark) !important;
                color: var(--field-color-16-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-16.active input + label {
                color: var(--field-color-16-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-16) {
                background-color: var(--field-color-16-bgDark);
            }   
            
            .field-gradient-17 {
                background-color: var(--field-color-17-light);
            }

            .field-gradient-17.active {
                border-color: var(--field-color-17-dark);
            }

            .field-gradient-17:hover input + label {
                background-color: var(--field-color-17-hover) !important;
           }

            .field-gradient-17.active input + label {
                background-color: var(--field-color-17-light) !important;
                border-color: var(--field-color-17-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-17) {
                background-color: var(--field-color-17-bgLight);
            }

            .dark-mode .field-gradient-17 {
                border-color: var(--field-color-17-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-17.active {
                color: var(--field-color-17-hover) !important;
            }

            .dark-mode .field-gradient-17:hover input + label {
                border-color: var(--field-color-17-dark) !important;
                color: var(--field-color-17-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-17.active input + label {
                color: var(--field-color-17-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-17) {
                background-color: var(--field-color-17-bgDark);
            }   
            
            .field-gradient-18 {
                background-color: var(--field-color-18-light);
            }

            .field-gradient-18.active {
                border-color: var(--field-color-18-dark);
            }

            .field-gradient-18:hover input + label {
                background-color: var(--field-color-18-hover) !important;
           }

            .field-gradient-18.active input + label {
                background-color: var(--field-color-18-light) !important;
                border-color: var(--field-color-18-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-18) {
                background-color: var(--field-color-18-bgLight);
            }

            .dark-mode .field-gradient-18 {
                border-color: var(--field-color-18-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-18.active {
                color: var(--field-color-18-hover) !important;
            }

            .dark-mode .field-gradient-18:hover input + label {
                border-color: var(--field-color-18-dark) !important;
                color: var(--field-color-18-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-18.active input + label {
                color: var(--field-color-18-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-18) {
                background-color: var(--field-color-18-bgDark);
            }   
            
            .field-gradient-19 {
                background-color: var(--field-color-19-light);
            }

            .field-gradient-19.active {
                border-color: var(--field-color-19-dark);
            }

            .field-gradient-19:hover input + label {
                background-color: var(--field-color-19-hover) !important;
           }

            .field-gradient-19.active input + label {
                background-color: var(--field-color-19-light) !important;
                border-color: var(--field-color-19-dark) !important;
            }

            .bottleneck-card:has(.field-gradient-19) {
                background-color: var(--field-color-19-bgLight);
            }

            .dark-mode .field-gradient-19 {
                border-color: var(--field-color-19-dark) !important;
                color: #818374 !important;
                background-color: transparent !important;
            }

            .dark-mode .field-gradient-19.active {
                color: var(--field-color-19-hover) !important;
            }

            .dark-mode .field-gradient-19:hover input + label {
                border-color: var(--field-color-19-dark) !important;
                color: var(--field-color-19-hover) !important;
                background-color: transparent !important;
           }

            .dark-mode .field-gradient-19.active input + label {
                color: var(--field-color-19-light) !important;
                background-color: transparent !important;
            }

            .dark-mode .bottleneck-card:has(.field-gradient-19) {
                background-color: var(--field-color-19-bgDark);
            }   
            