---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContributeForm from "../../components/standalone/ContributeForm";
import { getEnhancedData } from "../../lib/enhancedData";

// Fetch disciplines for the form dropdown
const { disciplines } = await getEnhancedData();
---

<BaseLayout title="Contribute | BottleNexus">
  <div class="contribute-page">
    <div class="contribute-header">
      <h1>Contribute to the Database</h1>
    </div>
    
    <div class="contribute-content">
      <ContributeForm client:load disciplines={disciplines} />
    </div>
  </div>
</BaseLayout>