:root {
  /* Light mode variables */
  --primary-color: #41a0df;
  --secondary-color: #c8c9b7;
  --tertiary-color: #e9e1d0;
  --text-color: #404137;
  --text-light: #63635a;
  --text-lighter: #85857e;
  --border-color: #75b4dd;
  --border-dull: #ddddcd;
  --background-color: #f3f2eb;
  --background-color-dark: #e4e3d9;
  --card-background: #ecebe4;
  --header-background: #f3f2eb;
  --footer-background: #f3f2eb;
  --shadow-color: rgba(0, 0, 0, 0.08);
  --highlight-bg: rgba(52, 152, 219, 0.2);
  --highlight-color: #2980b9;
  --pure-white: #f3f2eb;
  --background-color-tint: #f3f2eb86;
}

/* Dark mode variables */
html[data-theme="dark"],
.dark-mode {
  --primary-color: #41a0df;
  --secondary-color: #38465a;
  --tertiary-color: #293949;
  --text-color: #d2d6b8;
  --text-light: #a0a094;
  --text-lighter: #7f8374;
  --border-color: #2980b9;
  --border-dull: #2e3542;
  --background-color: #24283a;
  --background-color-dark: #1e2535;
  --card-background: #292d3e;
  --header-background: #24283a;
  --footer-background: #24283a;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --highlight-bg: rgba(104, 179, 223, 0.2);
  --highlight-color: #2980b9;
  --pure-white: #e0e0e0;
  --background-color-tint: #24283a69;


  .base-layout__logo {
    .word-mark {
      filter: invert(96%) sepia(7%) saturate(718%) hue-rotate(16deg) brightness(88%) contrast(94%);
    }
  }
}


// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

// Font sizes
$font-size-xxs: 0.65rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

// Border radius
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;

// Breakpoints
$breakpoint-min: 250px;
$breakpoint-xxs: 320px;
$breakpoint-xs: 420px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1580px;
$breakpoint-xxxl: 2560px;
$breakpoint-max: 3840px;

//Timing
$transition: 0.2s ease-out;


/* View layout styling based on data attribute */
html[data-list-view="true"] {
  .bottleneck-grid {
    grid-template-columns: 1fr !important;
    column-count: 1 !important;
  }
}


.field-tag {
  display: inline-block;
  color: var(--text-light);
  padding: $spacing-xs $spacing-sm;
  border: 1px solid transparent;
  border-radius: $border-radius-md;
  font-size: $font-size-sm;
  letter-spacing: 0.04em;
  transition: background-color $transition,
    color $transition,
    border-color $transition;

}