---
import InjectHydrationData from "../components/InjectHydrationData.astro";
import ThemeToggle from "../components/standalone/ThemeToggle";
import "../styles/main.scss";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Explore science bottlenecks and their potential solutions",
} = Astro.props;
---

<!doctype html>
<html lang="en" data-list-view="false">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <!-- Inject hydration data early -->
    <InjectHydrationData />

    <!-- Enable view transitions API -->
    <meta name="view-transition" content="same-origin" />
  </head>
  <body>
    <div class="base-layout">
      <header class="base-layout__header">
        <div class="container">
          <a href="/" class="base-layout__logo">
            <svg class="logo-mark" width="100%" height="100%" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1736.08,988.375C1731.31,988.65 1727.66,984.142 1728.89,979.51L1730.56,973.103L1728.56,971.952C1724.01,984.366 1718.38,991.701 1712.29,991.707C1706.13,991.7 1700.45,984.246 1695.9,971.656L1693.17,972.388L1695.29,980.217C1696.53,984.78 1692.31,988.897 1687.76,987.619C1680.49,985.618 1673.36,982.665 1666.52,978.716C1659.68,974.767 1653.56,970.065 1648.19,964.775C1644.81,961.468 1646.26,955.754 1650.83,954.545L1658.68,952.473L1657.94,949.741C1644.76,952.09 1635.47,950.899 1632.39,945.574C1629.35,940.296 1632.88,931.749 1641.36,921.597L1639.36,920.446L1634.65,925.095C1631.25,928.475 1625.52,927.57 1623.37,923.296C1617.76,912.172 1614.15,900.128 1612.7,887.77C1607.97,926.389 1626.15,965.904 1661.98,986.587C1697.8,1007.27 1741.11,1003.26 1772.18,979.855C1760.76,984.78 1748.52,987.674 1736.08,988.375Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1687.84,811.625C1692.62,811.35 1696.26,815.858 1695.04,820.49L1693.37,826.897L1695.36,828.048C1699.92,815.634 1705.55,808.299 1711.64,808.293C1717.79,808.301 1723.47,815.754 1728.03,828.344L1730.76,827.612L1728.63,819.783C1727.39,815.22 1731.61,811.103 1736.17,812.381C1743.43,814.382 1750.57,817.335 1757.41,821.284C1764.24,825.233 1770.37,829.935 1775.73,835.225C1779.12,838.533 1777.66,844.246 1773.09,845.456L1765.25,847.527L1765.98,850.259C1779.16,847.91 1788.46,849.101 1791.54,854.427C1794.58,859.704 1791.04,868.251 1782.57,878.403L1784.56,879.554L1789.28,874.905C1792.67,871.525 1798.4,872.43 1800.55,876.704C1806.16,887.828 1809.78,899.872 1811.22,912.23C1815.96,873.611 1797.77,834.096 1761.95,813.413C1726.13,792.729 1682.82,796.736 1651.74,820.145C1663.17,815.22 1675.4,812.326 1687.84,811.625Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1798.54,949.991C1796.27,953.927 1790.6,955.595 1782.44,955.268C1790.11,937.658 1779.81,922.452 1755.48,903.345L1760.29,899.263C1788.04,920.231 1804.06,940.44 1798.54,949.991Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1729.48,939.62C1719.5,935.138 1708.98,929.765 1698.33,923.615C1650.51,896.003 1617.85,863.058 1625.38,850.009C1630.48,841.175 1652.72,843.732 1681.42,854.911C1662.13,851.518 1645.89,852.217 1643.24,856.8C1637.03,867.558 1684.56,908.343 1729.77,934.658L1729.48,939.62Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1736.57,917.006L1737.17,909.658C1779.74,880.848 1786.35,866.612 1783.73,862.093C1778.63,853.272 1735.46,864.146 1702.32,883.287C1669.16,902.435 1638.15,934.373 1643.25,943.194C1645.9,947.778 1662.13,948.472 1681.43,945.088C1652.74,956.252 1630.49,958.843 1625.38,949.994C1617.85,936.946 1650.51,904.003 1698.33,876.387C1746.16,848.77 1791.01,836.957 1798.54,850.006C1805.48,862.032 1778.3,890.933 1736.57,917.006Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1711.96,999.986C1701.75,999.988 1692.86,979.419 1688.18,948.986C1694.91,967.398 1703.62,981.106 1708.91,981.107C1719.1,981.112 1731.25,938.287 1731.25,899.991C1731.26,861.722 1719.09,818.894 1708.9,818.889C1703.61,818.888 1694.9,832.608 1688.19,851.01C1692.87,820.568 1701.75,800.017 1711.96,800.014C1727.03,800.014 1739.23,844.771 1739.23,899.999C1739.22,955.226 1727.03,999.985 1711.96,999.986Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1700.11,937.003C1667.53,952.441 1639.63,958.951 1628.93,953.272L1643.25,943.194C1651.74,950.611 1700.11,937.003 1700.11,937.003Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1784.62,906.409C1787.97,908.345 1792.26,907.196 1794.2,903.843C1796.13,900.489 1794.99,896.201 1791.63,894.264C1788.28,892.328 1783.99,893.477 1782.06,896.831C1780.12,900.184 1781.27,904.473 1784.62,906.409Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1677.19,960.713C1674.71,959.28 1671.53,960.13 1670.1,962.611C1668.67,965.093 1669.52,968.266 1672,969.699C1674.48,971.131 1677.65,970.281 1679.09,967.8C1680.52,965.318 1679.67,962.145 1677.19,960.713Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1669.15,837.629C1671.63,839.061 1674.8,838.211 1676.23,835.73C1677.67,833.248 1676.82,830.075 1674.34,828.643C1671.85,827.21 1668.68,828.06 1667.25,830.542C1665.82,833.023 1666.67,836.196 1669.15,837.629Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1762.75,942.188C1758.89,939.961 1753.96,941.282 1751.74,945.139C1749.51,948.997 1750.83,953.929 1754.69,956.156C1758.54,958.383 1763.48,957.061 1765.7,953.204C1767.93,949.347 1766.61,944.415 1762.75,942.188Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(-2.44085,0,0,-2.44085,4428.65,2446.77)"> <path d="M1705.81,869.89C1700.36,866.745 1693.4,868.611 1690.25,874.059C1687.11,879.506 1688.97,886.472 1694.42,889.616C1699.87,892.762 1706.83,890.895 1709.98,885.448C1713.12,880.001 1711.25,873.035 1705.81,869.89Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> </svg>    
            <svg class="word-mark" width="100%" height="100%" viewBox="0 0 500 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"> <g transform="matrix(1,0,0,1,0,-232.316)"> <g id="Artboard1" transform="matrix(1.00025,0,0,0.0800197,586.181,236.432)"> <rect x="-586.036" y="-51.431" width="499.877" height="499.877" style="fill:none;"/> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M1960.98,916.876C1963.44,916.876 1965.6,916.521 1967.47,915.808C1969.33,915.096 1970.92,914.039 1972.22,912.639C1973.52,911.239 1974.49,909.507 1975.13,907.444C1975.77,905.38 1976.09,902.998 1976.09,900.295L1976.09,898.305C1976.09,895.604 1975.77,893.209 1975.13,891.12C1974.49,889.032 1973.52,887.287 1972.22,885.887C1970.92,884.487 1969.33,883.431 1967.47,882.718C1965.6,882.006 1963.44,881.649 1960.98,881.649C1958.47,881.649 1956.29,882.006 1954.42,882.718C1952.55,883.431 1950.98,884.487 1949.71,885.887C1948.43,887.287 1947.47,889.032 1946.83,891.12C1946.19,893.209 1945.87,895.604 1945.87,898.305L1945.87,900.295C1945.87,902.998 1946.19,905.38 1946.83,907.444C1947.47,909.507 1948.43,911.239 1949.71,912.639C1950.98,914.039 1952.55,915.096 1954.42,915.808C1956.29,916.521 1958.47,916.876 1960.98,916.876ZM1960.98,925.426C1955.67,925.426 1951.09,924.48 1947.24,922.588C1943.38,920.697 1940.42,917.81 1938.36,913.928C1936.29,910.048 1935.26,905.158 1935.26,899.263C1935.26,893.319 1936.29,888.418 1938.36,884.56C1940.42,880.704 1943.38,877.83 1947.24,875.938C1951.09,874.047 1955.67,873.101 1960.98,873.101C1966.33,873.101 1970.93,874.047 1974.76,875.938C1978.59,877.83 1981.54,880.704 1983.61,884.56C1985.67,888.418 1986.7,893.319 1986.7,899.263C1986.7,905.158 1985.67,910.048 1983.61,913.928C1981.54,917.81 1978.59,920.697 1974.76,922.588C1970.93,924.48 1966.33,925.426 1960.98,925.426Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2002.99,924.541L2002.99,873.985L2012.64,873.985L2033.57,902.579C2033.87,902.874 2034.2,903.305 2034.57,903.869C2034.93,904.434 2035.29,904.987 2035.63,905.527C2035.98,906.069 2036.22,906.511 2036.37,906.854L2036.74,906.78L2036.74,873.985L2046.54,873.985L2046.54,924.541L2036.96,924.541L2015.74,895.504C2015.29,894.915 2014.81,894.191 2014.3,893.331C2013.78,892.471 2013.4,891.845 2013.16,891.451L2012.79,891.451L2012.79,924.541L2002.99,924.541Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2078.67,924.541L2060.32,873.985L2071.45,873.985L2082.95,907.517C2083.14,908.009 2083.34,908.611 2083.54,909.322C2083.73,910.035 2083.94,910.723 2084.16,911.386C2084.38,912.05 2084.59,912.627 2084.79,913.118L2085.16,913.118C2085.31,912.676 2085.48,912.136 2085.67,911.497C2085.87,910.858 2086.08,910.195 2086.3,909.507C2086.52,908.819 2086.73,908.18 2086.93,907.59L2098.35,873.985L2109.04,873.985L2090.69,924.541L2078.67,924.541Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2122.82,924.541L2122.82,873.985L2162.76,873.985L2162.76,882.607L2133.13,882.607L2133.13,894.473L2159.44,894.473L2159.44,903.021L2133.13,903.021L2133.13,915.919L2163.2,915.919L2163.2,924.541L2122.82,924.541Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2190.4,897.568L2206.17,897.568C2208.48,897.568 2210.27,896.88 2211.55,895.504C2212.82,894.129 2213.46,892.238 2213.46,889.83C2213.46,888.258 2213.18,886.931 2212.62,885.85C2212.05,884.77 2211.23,883.946 2210.15,883.381C2209.07,882.817 2207.74,882.534 2206.17,882.534L2190.4,882.534L2190.4,897.568ZM2180.08,924.541L2180.08,873.985L2207.2,873.985C2210.98,873.985 2214.1,874.637 2216.56,875.938C2219.02,877.24 2220.86,879.07 2222.09,881.428C2223.31,883.786 2223.93,886.563 2223.93,889.756C2223.93,892.998 2223.19,895.886 2221.72,898.415C2220.24,900.946 2218.08,902.874 2215.23,904.201L2225.7,924.541L2214.35,924.541L2205.21,905.969L2190.4,905.969L2190.4,924.541L2180.08,924.541Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2263.5,925.426C2255.64,925.426 2249.55,923.314 2245.23,919.087C2240.9,914.863 2238.74,908.254 2238.74,899.263C2238.74,893.319 2239.77,888.418 2241.84,884.56C2243.9,880.704 2246.87,877.83 2250.75,875.938C2254.63,874.047 2259.3,873.101 2264.76,873.101C2268.05,873.101 2271.13,873.469 2274.01,874.206C2276.88,874.943 2279.42,876.074 2281.63,877.596C2283.84,879.12 2285.56,881.012 2286.79,883.271C2288.02,885.532 2288.63,888.209 2288.63,891.303L2278.17,891.303C2278.17,889.782 2277.81,888.406 2277.1,887.176C2276.39,885.949 2275.43,884.917 2274.23,884.082C2273.02,883.247 2271.63,882.633 2270.06,882.239C2268.49,881.846 2266.82,881.649 2265.05,881.649C2262.45,881.649 2260.16,881.994 2258.2,882.681C2256.23,883.37 2254.59,884.413 2253.26,885.813C2251.93,887.213 2250.95,888.958 2250.31,891.046C2249.67,893.135 2249.35,895.554 2249.35,898.305L2249.35,900.221C2249.35,904.053 2249.91,907.198 2251.01,909.655C2252.12,912.111 2253.79,913.928 2256.02,915.108C2258.26,916.287 2261.02,916.876 2264.31,916.876C2267.07,916.876 2269.5,916.46 2271.61,915.623C2273.72,914.789 2275.38,913.56 2276.58,911.939C2277.79,910.318 2278.39,908.328 2278.39,905.969L2278.39,905.527L2262.77,905.527L2262.77,897.273L2288.63,897.273L2288.63,924.541L2281.63,924.541L2280.75,919.014C2279.23,920.44 2277.63,921.63 2275.96,922.588C2274.29,923.546 2272.43,924.259 2270.39,924.726C2268.36,925.192 2266.06,925.426 2263.5,925.426Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2306.69,924.541L2306.69,873.985L2346.63,873.985L2346.63,882.607L2317.01,882.607L2317.01,894.473L2343.32,894.473L2343.32,903.021L2317.01,903.021L2317.01,915.919L2347.07,915.919L2347.07,924.541L2306.69,924.541Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2363.95,924.541L2363.95,873.985L2373.61,873.985L2394.54,902.579C2394.83,902.874 2395.16,903.305 2395.53,903.869C2395.9,904.434 2396.25,904.987 2396.6,905.527C2396.94,906.069 2397.19,906.511 2397.34,906.854L2397.7,906.78L2397.7,873.985L2407.51,873.985L2407.51,924.541L2397.92,924.541L2376.7,895.504C2376.26,894.915 2375.78,894.191 2375.26,893.331C2374.75,892.471 2374.37,891.845 2374.12,891.451L2373.75,891.451L2373.75,924.541L2363.95,924.541Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2438.53,924.541L2438.53,882.755L2422.32,882.755L2422.32,873.985L2465.06,873.985L2465.06,882.755L2448.78,882.755L2448.78,924.541L2438.53,924.541Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2529.02,896.567L2544.79,896.567C2547.1,896.567 2548.89,895.879 2550.17,894.503C2551.45,893.128 2552.09,891.237 2552.09,888.829C2552.09,887.257 2551.81,885.931 2551.24,884.849C2550.68,883.77 2549.85,882.946 2548.77,882.38C2547.69,881.816 2546.36,881.533 2544.79,881.533L2529.02,881.533L2529.02,896.567ZM2518.7,923.54L2518.7,872.984L2545.82,872.984C2549.61,872.984 2552.73,873.636 2555.18,874.937C2557.64,876.239 2559.48,878.07 2560.71,880.428C2561.94,882.786 2562.55,885.562 2562.55,888.755C2562.55,891.998 2561.82,894.885 2560.34,897.414C2558.87,899.946 2556.71,901.874 2553.86,903.2L2564.32,923.54L2552.97,923.54L2543.83,904.968L2529.02,904.968L2529.02,923.54L2518.7,923.54Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2579.43,923.54L2579.43,872.984L2619.37,872.984L2619.37,881.607L2589.75,881.607L2589.75,893.472L2616.06,893.472L2616.06,902.02L2589.75,902.02L2589.75,914.918L2619.82,914.918L2619.82,923.54L2579.43,923.54Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2656,924.425C2653.1,924.425 2650.35,924.117 2647.75,923.503C2645.14,922.89 2642.85,921.945 2640.86,920.666C2638.86,919.389 2637.29,917.755 2636.14,915.766C2634.98,913.775 2634.41,911.429 2634.41,908.727C2634.41,908.432 2634.42,908.15 2634.44,907.879C2634.47,907.61 2634.48,907.401 2634.48,907.253L2644.72,907.253C2644.72,907.352 2644.71,907.524 2644.69,907.769C2644.66,908.016 2644.65,908.236 2644.65,908.432C2644.65,910.054 2645.1,911.417 2646.01,912.522C2646.92,913.628 2648.24,914.476 2649.96,915.065C2651.68,915.655 2653.69,915.949 2656,915.949C2657.52,915.949 2658.87,915.864 2660.05,915.692C2661.23,915.52 2662.26,915.262 2663.15,914.918C2664.03,914.574 2664.77,914.157 2665.36,913.665C2665.95,913.175 2666.38,912.622 2666.65,912.007C2666.92,911.393 2667.05,910.717 2667.05,909.98C2667.05,908.605 2666.61,907.474 2665.73,906.59C2664.84,905.706 2663.65,904.957 2662.15,904.342C2660.65,903.729 2658.97,903.176 2657.11,902.684C2655.24,902.194 2653.31,901.678 2651.32,901.137C2649.33,900.596 2647.4,899.946 2645.54,899.183C2643.67,898.422 2641.99,897.501 2640.49,896.42C2638.99,895.34 2637.8,893.964 2636.91,892.293C2636.03,890.623 2635.59,888.633 2635.59,886.323C2635.59,883.916 2636.1,881.804 2637.13,879.985C2638.17,878.168 2639.61,876.681 2641.48,875.527C2643.35,874.373 2645.54,873.513 2648.04,872.948C2650.55,872.383 2653.25,872.1 2656.15,872.1C2658.9,872.1 2661.48,872.383 2663.89,872.948C2666.29,873.513 2668.42,874.397 2670.26,875.6C2672.1,876.805 2673.55,878.34 2674.61,880.206C2675.66,882.074 2676.19,884.286 2676.19,886.84L2676.19,887.724L2666.02,887.724L2666.02,887.06C2666.02,885.685 2665.62,884.518 2664.81,883.559C2664,882.602 2662.85,881.853 2661.38,881.312C2659.91,880.772 2658.16,880.501 2656.15,880.501C2653.99,880.501 2652.15,880.711 2650.66,881.127C2649.16,881.546 2648,882.135 2647.19,882.896C2646.38,883.659 2645.98,884.604 2645.98,885.733C2645.98,886.913 2646.42,887.908 2647.3,888.718C2648.19,889.529 2649.38,890.217 2650.88,890.782C2652.38,891.347 2654.06,891.876 2655.93,892.366C2657.79,892.858 2659.72,893.374 2661.71,893.914C2663.7,894.455 2665.64,895.093 2667.53,895.83C2669.42,896.567 2671.11,897.488 2672.58,898.594C2674.06,899.699 2675.24,901.063 2676.12,902.684C2677,904.305 2677.45,906.247 2677.45,908.506C2677.45,912.339 2676.52,915.422 2674.68,917.755C2672.84,920.09 2670.3,921.785 2667.05,922.84C2663.81,923.896 2660.13,924.425 2656,924.425Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2693.66,923.54L2693.66,872.984L2733.6,872.984L2733.6,881.607L2703.98,881.607L2703.98,893.472L2730.29,893.472L2730.29,902.02L2703.98,902.02L2703.98,914.918L2734.04,914.918L2734.04,923.54L2693.66,923.54Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2763.23,904.748L2779.59,904.748L2774.8,891.629C2774.6,891.139 2774.37,890.5 2774.1,889.714C2773.83,888.928 2773.56,888.08 2773.29,887.171C2773.02,886.262 2772.73,885.341 2772.44,884.407C2772.14,883.474 2771.87,882.639 2771.63,881.901L2771.26,881.901C2770.97,882.885 2770.61,884.015 2770.19,885.291C2769.77,886.57 2769.38,887.773 2769.01,888.903C2768.64,890.034 2768.31,890.942 2768.02,891.629L2763.23,904.748ZM2745.76,923.54L2765.29,872.984L2778.11,872.984L2797.72,923.54L2786.59,923.54L2782.76,913.149L2760.2,913.149L2756.37,923.54L2745.76,923.54Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2821.45,896.567L2837.22,896.567C2839.53,896.567 2841.32,895.879 2842.6,894.503C2843.88,893.128 2844.51,891.237 2844.51,888.829C2844.51,887.257 2844.23,885.931 2843.67,884.849C2843.1,883.77 2842.28,882.946 2841.2,882.38C2840.12,881.816 2838.79,881.533 2837.22,881.533L2821.45,881.533L2821.45,896.567ZM2811.13,923.54L2811.13,872.984L2838.25,872.984C2842.03,872.984 2845.15,873.636 2847.61,874.937C2850.07,876.239 2851.91,878.07 2853.14,880.428C2854.36,882.786 2854.98,885.562 2854.98,888.755C2854.98,891.998 2854.24,894.885 2852.77,897.414C2851.29,899.946 2849.13,901.874 2846.28,903.2L2856.75,923.54L2845.4,923.54L2836.26,904.968L2821.45,904.968L2821.45,923.54L2811.13,923.54Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2894.04,924.425C2888.78,924.425 2884.31,923.503 2880.63,921.661C2876.94,919.819 2874.13,916.97 2872.19,913.112C2870.25,909.256 2869.28,904.305 2869.28,898.262C2869.28,889.37 2871.45,882.786 2875.8,878.512C2880.15,874.237 2886.23,872.1 2894.04,872.1C2898.26,872.1 2902.08,872.825 2905.5,874.274C2908.91,875.724 2911.62,877.897 2913.61,880.796C2915.59,883.696 2916.59,887.38 2916.59,891.851L2906.12,891.851C2906.12,889.444 2905.62,887.405 2904.61,885.733C2903.61,884.064 2902.19,882.799 2900.38,881.938C2898.56,881.079 2896.47,880.648 2894.11,880.648C2890.92,880.648 2888.25,881.275 2886.12,882.528C2883.98,883.781 2882.41,885.648 2881.4,888.129C2880.39,890.61 2879.89,893.669 2879.89,897.305L2879.89,899.22C2879.89,902.905 2880.39,905.976 2881.4,908.432C2882.41,910.89 2883.97,912.744 2886.08,913.997C2888.19,915.25 2890.87,915.876 2894.11,915.876C2896.62,915.876 2898.8,915.459 2900.67,914.623C2902.54,913.788 2903.98,912.536 2904.98,910.864C2905.99,909.195 2906.49,907.156 2906.49,904.748L2916.59,904.748C2916.59,909.169 2915.61,912.842 2913.64,915.766C2911.68,918.689 2909,920.863 2905.61,922.287C2902.22,923.712 2898.36,924.425 2894.04,924.425Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M2932.51,923.54L2932.51,872.984L2942.83,872.984L2942.83,893.324L2965.75,893.324L2965.75,872.984L2976.06,872.984L2976.06,923.54L2965.75,923.54L2965.75,902.094L2942.83,902.094L2942.83,923.54L2932.51,923.54Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> <g transform="matrix(0.450056,0,0,5.6257,-1427.55,-4851.27)"> <path d="M1899.08,925.426C1893.82,925.426 1889.35,924.504 1885.66,922.661C1881.98,920.819 1879.16,917.971 1877.22,914.113C1875.28,910.257 1874.31,905.306 1874.31,899.263C1874.31,890.371 1876.49,883.786 1880.84,879.513C1885.18,875.238 1891.26,873.101 1899.08,873.101C1903.3,873.101 1907.12,873.826 1910.54,875.275C1913.95,876.725 1916.65,878.898 1918.64,881.797C1920.63,884.696 1921.63,888.381 1921.63,892.852L1911.16,892.852C1911.16,890.444 1910.66,888.406 1909.65,886.734C1908.64,885.065 1907.23,883.8 1905.41,882.939C1903.6,882.08 1901.51,881.649 1899.15,881.649C1895.96,881.649 1893.29,882.276 1891.15,883.529C1889.02,884.782 1887.44,886.649 1886.44,889.13C1885.43,891.611 1884.93,894.67 1884.93,898.305L1884.93,900.221C1884.93,903.906 1885.43,906.977 1886.44,909.433C1887.44,911.89 1889,913.745 1891.12,914.997C1893.23,916.25 1895.91,916.876 1899.15,916.876C1901.65,916.876 1903.84,916.46 1905.71,915.623C1907.57,914.789 1909.01,913.536 1910.02,911.865C1911.03,910.195 1911.53,908.157 1911.53,905.748L1921.63,905.748C1921.63,910.17 1920.64,913.843 1918.68,916.766C1916.71,919.69 1914.04,921.864 1910.65,923.288C1907.26,924.712 1903.4,925.426 1899.08,925.426Z" style="fill:rgb(25,25,25);fill-rule:nonzero;"/> </g> </g> </g> </svg>
            <p class="sr-only">Convergent Research</p>

          </a>

          <div class="base-layout__controls">
            <nav class="base-layout__nav">
              <div class="base-layout__nav-item">
                <a
                  href="/contribute"
                  class={Astro.url.pathname === "/contribute" ? "active" : ""}
                >
                  ＋Contribute
                </a>
              </div>
            </nav>

            <!-- Include ThemeToggle -->
            <ThemeToggle client:load />

            <!-- Keep the slot for backward compatibility or other controls -->
            <slot name="theme-toggle" />
          </div>
        </div>
      </header>

      <main class="base-layout__main">
        <div class="container">
          <slot />
        </div>
      </main>

      <footer class="base-layout__footer">
        <div class="container">
          <div class="base-layout__footer-text">
            &copy; {new Date().getFullYear()} Convergent Research
          </div>

          <div class="base-layout__footer-links">
            <a href="/" class={Astro.url.pathname === "/" ? "active" : ""}>
              Home
            </a>
            <a
              href="/contribute"
              class={Astro.url.pathname === "/contribute" ? "active" : ""}
            >
              ＋Contribute
            </a>
          </div>
        </div>
      </footer>
    </div>

    <!-- Script to handle navigation state -->
    <script>
      import {
        saveCurrentUrlState,
        clearSavedUrlState,
      } from "../lib/navigationUtils";

      // Handle view transitions navigation
      document.addEventListener("astro:before-swap", () => {
        // Check if we're on the dashboard page
        const isDashboard =
          window.location.pathname === "/" || window.location.pathname === "";

        // If we're leaving the dashboard, save the state
        if (isDashboard) {
          if (window.location.search) {
            saveCurrentUrlState();
          } else {
            // If there are no search params, explicitly set empty state
            saveCurrentUrlState(true);
          }
        }
      });

      // After each page load
      document.addEventListener("astro:page-load", () => {
        // Check if we're on the dashboard page
        const isDashboard =
          window.location.pathname === "/" || window.location.pathname === "";

        // If we're on the dashboard
        if (isDashboard) {
          if (window.location.search) {
            // Has search params, save them
            saveCurrentUrlState();
          } else {
            // No search params, make sure we save empty state
            saveCurrentUrlState(true);
          }
        }

        // After each navigation, ensure all components are properly initialized
        // Dispatch events that our React components listen for
        const prefs = window.userPreferences || {};

        if (prefs.darkMode !== undefined) {
          window.dispatchEvent(
            new CustomEvent("theme-changed", {
              detail: { isDarkMode: prefs.darkMode },
            }),
          );
        }

        if (prefs.isListView !== undefined) {
          window.dispatchEvent(
            new CustomEvent("view-changed", {
              detail: { isListView: prefs.isListView },
            }),
          );
        }
      });

      // Listen for search clear events
      window.addEventListener("search-changed", (event) => {
        if (!event.detail.query) {
          // When search is cleared, force save empty state
          saveCurrentUrlState(true);
        }
      });
    </script>
  </body>
</html>
